.contents{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contents_h{
    width: 1200px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contents_h h3{font-size: 32px;}

.contents_area{
    width: 1120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.p_item{
    position: relative;
    margin: 15px 0;
    width: 274px;
    height: 410px;
    border: 1px solid lightslategray;
    box-sizing: border-box;
}
.p_item img{width: 100%;}
.p_item h4{
    margin-top: 20px;
    padding: 0 10px;
    font-size: 17px;
    font-weight: 300;
    display: block;
}
.p_item p{
    position: absolute;
    right: 10px;
    bottom: 20px;
    /* margin-top: 10px; */
    /* padding: 0 10px; */
    font-size: 24px;
    text-align: right;
}
.p_item span{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9999;
    padding: 5px 12px;
    font-size: 12px;
    background-color: #1874ff;
    color: white;
}