.header{
  width: 100%;
  height: 100px;
  background-color: aquamarine;
}
.mainImg{
  width: 100%;
  height: 200px;
  background-color: cornflowerblue;
}
.contents{
  width: 100%;
  height: 500px;
  background-color: darkcyan;
}
.footer{
  width: 100%;
  height: 80px;
  background-color: cadetblue;
}